body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-column,
.right-column {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  margin-right: 20px;
  font-size: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.menu ul {
  list-style-type: none;
  display: flex; /* Добавляем flex для пунктов меню */
}

.menu li {
  margin: 0 50px;
}

.menu li:hover {
  color: red;
}

/* dropdown */

.menu1 .dropdown1 {
  z-index: 200;
  display: none;
  position: absolute;
}

.menu1 .dropdown-trigger {
  cursor: pointer;
}

.menu1 .dropdown1 li {
  display: block;
}

.menu1 .dropdown-trigger:hover .dropdown1 {
  display: block;
}

@media screen and (max-width: 900px) {
  .menu1 .dropdown-trigger:hover .dropdown1 {
    display: none;
  }
}

.gallery {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
}

.gallery button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
}

.gallery .prev {
  left: 10px;
}

.gallery .next {
  right: 10px;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 228, 225, 0.5); /* Нежный цвет фона */
}
/* отцентровать окно попап */

.modal-content {
  background-color: #fff; /* Белый фон контента */
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Ширина окна */
  text-align: center; /* Выравнивание по центру */
}

.close {
  color: #ff5733; /* Яркий цвет кнопки */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff8c66; /* Цвет кнопки при наведении */
  text-decoration: none;
  cursor: pointer;
}

input[type="tel"] {
  width: calc(
    100% - 20px
  ); /* Ширина поля ввода номера телефона с учетом отступов */
  margin-bottom: 10px; /* Отступ между полем ввода и кнопкой */
}

button {
  background-color: #3369ff; /* Яркий цвет кнопки */
  color: #fff; /* Цвет текста на кнопке */
  padding: 10px 20px;
  border: none;
}

/* btn scroll */
.fixed-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 200;
}
.button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 16px;
}

/* grid */

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4;
  font-size: 13px;
}
@supports (display: grid) {
  body,
  html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  display: none;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

/* грид */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
}
.item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}

.item__details {
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* бургер */

.burger-menu {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.line {
  width: 50px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

@media only screen and (max-width: 900px) {
  .burger-menu {
    display: block;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  color: #000;
  padding: 30px 30px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px; /* Переместить бургер меню в правый верхний угол */
    background-color: lavender;
    text-align: center;
    z-index: 1; /* Убедиться, что бургер меню находится над другими элементами */
  }

  .navbar ul.active {
    display: flex;
    max-height: 500px;
  }

  .navbar li {
    margin: 10px 0;
  }

  .burger-menu {
    display: block;
    position: absolute;
    top: 20px; /* Переместить бургер меню в правый верхний угол */
    right: 20px; /* Переместить бургер меню в правый верхний угол */
    z-index: 2; /* Убедиться, что бургер меню находится над другими элементами */
  }
}

/* отзывы */
.container__feedbek {
  max-width: 1400px;
}
.wrapp {
  display: flex;
  justify-content: center;
}
.title__feedbek {
  color: green;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
}

.wrapp__image {
  padding: 50px;
  margin-left: 30px;
}

/* feed-form */
.form-feed {
  margin-left: 260px;
}
.form-feed2 {
  margin-left: 600px;
}
.form-wrap {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.feed-btn {
  border: none;
}

.feed-btn:hover,
.feed-btn2:hover {
  background-color: rgb(102, 150, 212);
}
/* о нас */
.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-us img {
  max-width: 400px;
  margin-right: 20px;
}

.about-us-text {
  font-size: 16px;
  max-width: 500px;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about__title {
  text-align: center;
  color: green;
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.contact-info {
  width: 50%;
  margin: 100px;
}

.photo {
  width: 50%;
  margin: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-column,
.right-column {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  margin-right: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* dropdown */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: block; /* Изменяем на блочный элемент */
  position: relative;
  font-weight: 500;
  text-align: center; /* Выравниваем текст по центру */
}

.menu li:hover .dropdown {
  display: block;
}

@media (max-width: 850px) {
  .menu1 ul {
    flex-direction: column; /* Изменяем направление на колонку */
    align-items: center; /* Выравниваем по центру */
  }

  .menu1 li {
    margin: 10px 0; /* Добавляем отступы сверху и снизу */
    font-size: 16px; /* Возвращаем обычный размер шрифта */
    display: none;
  }

  .dropdown1 {
    position: static; /* Изменяем позиционирование на статическое */
    transform: none; /* Сбрасываем трансформацию */
    width: auto; /* Ширина по содержимому */
    text-align: center; /* Выравниваем текст по центру */
    margin-top: 10px; /* Добавляем отступ сверху */
    box-shadow: none; /* Убираем тень */
    border-top: 1px solid #ccc; /* Добавляем верхнюю границу */
    padding: 10px; /* Добавляем отступы внутри блока */
    z-index: auto; /* Сбрасываем z-index */
  }
}
.dropdown1 a {
  display: block;
  width: auto; /* Подстраивается под ширину контента */
  text-decoration: none;
  color: grey; /* Цвет ссылок */
  padding: 5px 0;
}

.dropdown1 a:hover {
  color: #000;
}

/* gallery */
.gallery {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
}

.gallery button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
}

.gallery .prev {
  left: 10px;
}

.gallery .next {
  right: 10px;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 228, 225, 0.5); /* Нежный цвет фона */
}
/* соц сети */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* .dropdown */

.dropdown1 {
  display: none;
  position: absolute;
  text-transform: lowercase;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff; /* Белый фон */
  border: none;
  padding: 10px;
  color: #888;
  z-index: 1000;
}
.dropdown1 a {
  text-decoration: none;
  line-height: 2;
  color: #888;
  font-size: 16px;
}

/* медиа запросы шапка */

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .wrapp {
    min-width: 100%;
  }

  .section {
    margin-top: -110px;
  }
  .wrapp {
    flex-direction: column;
    align-items: center;
  }

  .form-feed {
    margin-left: 100px;
  }

  .form-feed2 {
    margin-left: 60px;
  }

  .feed-btn {
    margin-right: 10px;
  }
  .photo {
    display: none;
  }
  footer {
    background-color: #333232;
    color: #ccc;
    margin-top: 20px;
  }
  .about-us {
    padding-left: 20px;
  }

  .about-us-text {
    font-size: 20px;
  }
  .about__title {
    font-size: 25px;
  }
}

/* Медиа-запрос для мобильных устройств до 800 */
@media (max-width: 800) {
  header {
    flex-direction: column; /* Изменяем направление flex-контейнера на колонку */
    padding: 10px; /* Уменьшаем отступы */
  }

  .left-column,
  .right-column {
    font-size: 10px; /* Уменьшаем размер шрифта */
  }

  .menu {
    height: auto; /* Устанавливаем высоту меню по содержимому */
    flex-direction: column; /* Изменяем направление flex-контейнера на колонку */
    text-align: center; /* Выравниваем текст по центру */
    margin-top: 10px; /* Добавляем отступ сверху */
  }

  .contact-info {
    margin-right: 0; /* Убираем отступ справа */
    margin-bottom: 10px; /* Добавляем отступ снизу */
  }

  .social-media-icons {
    margin-bottom: 10px; /* Добавляем отступ снизу */
  }
}
.menu ul {
  list-style-type: none;
  display: flex; /* Добавляем flex для пунктов меню */
  justify-content: center; /* Выравниваем пункты по центру */
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 20px; /* Уменьшаем отступы между пунктами */
  font-size: 14px; /* Уменьшаем размер шрифта */
}

.menu li:hover {
  color: red;
}
