@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Serif:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  vertical-align: middle;
}
.color-phone {
  color: cornflowerblue;
}
@media (max-width: 800px) {
  .fixed-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Число может быть любым, чтобы гарантировать, что элемент будет выше других */
  }

  .logo {
    position: fixed;
    top: 10px; /* Расположение логотипа относительно верхнего края */
    left: 10px; /* Расположение логотипа относительно левого края */
    width: 100px;
    height: 100px;
    top: 10px; /* Расположение логотипа относительно верхнего края */
    left: 10px;
    z-index: 1001; /* Число должно быть больше, чем у .fixed-bar, чтобы логотип был над полоской */
  }
}

.color {
  color: cornflowerblue;
}

.container {
  max-width: 1400px;
  margin: 20px auto 20px;
  padding: 0 20px;
}
/* ///////// */
/* BURGER */
.burger-menu {
  display: none;
}

.burger-icon {
  display: block;
  cursor: pointer;
}

.burger-icon span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}

@media screen and (max-width: 800px) {
  .burger-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 50%;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    z-index: 999;
    position: fixed;
    top: 10px; /* Расположение бургер-меню относительно верхнего края */
    right: 10px; /* Расположение бургер-меню относительно правого края */
    z-index: 10001;
  }

  .burger-menu-content {
    height: 250px;
    display: block;
  }

  .burger-menu-content {
    display: none;
  }
  .small-list {
    display: none;
  }
}
/* ///////// */
/* BURGER */
.left-column,
.right-column,
.logo {
  display: flex;
  align-items: center;

  font-size: 12px;
}

.logo {
  padding-right: 90px;
}

.logo img {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.menu1 {
  list-style-type: none;
}

.contact-info {
  font-size: 16px;
  line-height: 1.5;
}
.contact-info1 {
  font-size: 16px;
  line-height: 1.5;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.menu ul {
  list-style-type: none;
  display: flex; /* Добавляем flex для пунктов меню */
}

.menu li:hover,
li a:hover {
  color: cornflowerblue;
}
li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}
.link-phone {
  text-decoration: none;
  color: black;
}

/* dropdown */

.menu1 .dropdown1 {
  z-index: 200;
  display: none;
  position: absolute;
}

.menu1 .dropdown-trigger {
  cursor: pointer;
}

.menu1 .dropdown1 li {
  display: block;
}

.menu1 .dropdown-trigger:hover .dropdown1 {
  display: block;
}

.modal-content {
  background-color: #fff; /* Белый фон контента */
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Ширина окна */
  text-align: center; /* Выравнивание по центру */
}

.close {
  color: #ff5733; /* Яркий цвет кнопки */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff8c66; /* Цвет кнопки при наведении */
  text-decoration: none;
  cursor: pointer;
}

input[type="tel"] {
  width: calc(
    100% - 20px
  ); /* Ширина поля ввода номера телефона с учетом отступов */
  margin-bottom: 10px; /* Отступ между полем ввода и кнопкой */
}

button {
  background-color: #3369ff; /* Яркий цвет кнопки */
  color: #fff; /* Цвет текста на кнопке */
  padding: 10px 20px;
  border: none;
}

/* btn scroll */
.fixed-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 200;
}
.button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  height: 80px;
  width: 100px;
  text-align: center;
  font-size: 16px;
}

/* grid */

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4;
  font-size: 13px;
}
@supports (display: grid) {
  body,
  html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}

.section {
  display: block;
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

/* грид */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  gap: 100px;
}
.item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}

.item__details {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  gap: 30px;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  font-size: 36px;
  text-align: center;
  transition: color 0.3s;
  font-weight: bold;
}

.item__container:hover .caption {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.navbar {
  font-size: 18px;
  color: #000;
  padding: 30px 30px;
}

.navbar li {
  margin: 0 10px;
}

.link-yaclains {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 950px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lavender;
    text-align: center;
    z-index: 1;
  }

  .navbar ul.active {
    display: flex;
    max-height: 500px;
  }

  .navbar li {
    margin: 10px 0;
  }
}

/* отзывы */

.wrapp {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
}
.title__feedbek {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  color: cornflowerblue;
}

.wrapp__image {
  margin: 20px 0;
}

.image-feed {
  width: 450px;
  max-width: 100%;
  object-fit: cover;
}

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-feed {
  display: flex;
  justify-content: center;
}

.feed-btn {
  background-color: #4caf50;
  gap: 60px;
}

.feed-btn2 {
  background-color: #4caf50;
  gap: 60px;
}
.feed-btn a,
.feed-btn2 a {
  border: none;
  text-decoration: none;
  color: #fff;
}

.feed-btn:hover,
.feed-btn2:hover {
  background-color: rgb(102, 150, 212);
}
/* о нас */
.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-us img {
  max-width: 400px;
  margin-right: 20px;
}

.about-us-text {
  font-size: 16px;
  max-width: 500px;
  line-height: 2;
}
.about__title {
  text-align: center;
  font-size: 42px;
  color: cornflowerblue;
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.contact-info {
  width: 50%;
  margin: 100px;
}
.contact-info1 {
  width: 50%;
  margin: 100px;
}
.link-phone-footer {
  text-decoration: none;
  color: cornflowerblue;
}
.photo {
  width: 50%;
  margin: 100px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-column,
.right-column {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  margin-right: 20px;
}
.contact-info1 {
  margin-right: 20px;
  color: cornflowerblue;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* dropdown */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: block; /* Изменяем на блочный элемент */
  position: relative;
  font-weight: 500;
  text-align: center; /* Выравниваем текст по центру */
}

.menu li:hover .dropdown {
  display: block;
}

@media (max-width: 800px) {
  .right-column {
    display: none;
  }
  .right-column1 {
    display: none;
  }
  .left-column {
    display: none;
  }
  .gallery {
    margin-top: 0;
  }

  .fixed-buttons {
    margin-bottom: 80px;
  }

  .dropdown1 {
    position: static; /* Изменяем позиционирование на статическое */
    transform: none; /* Сбрасываем трансформацию */
    width: auto; /* Ширина по содержимому */
    text-align: center; /* Выравниваем текст по центру */
    margin-top: 10px; /* Добавляем отступ сверху */
    box-shadow: none; /* Убираем тень */
    border-top: 1px solid #ccc; /* Добавляем верхнюю границу */
    padding: 10px; /* Добавляем отступы внутри блока */
    z-index: auto; /* Сбрасываем z-index */
  }
}

.dropdown1 a {
  display: block;
  width: auto; /* Подстраивается под ширину контента */
  text-decoration: none;
  color: grey; /* Цвет ссылок */
  padding: 5px 0;
}

.dropdown1 a:hover {
  color: #000;
}

/* gallery */
.gallery {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
}

.gallery .prev {
  left: 10px;
}

.gallery .next {
  right: 10px;
}

/* соц сети */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* .dropdown */

.dropdown1 {
  display: none;
  position: absolute;
  text-transform: lowercase;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff; /* Белый фон */
  border: none;
  padding: 10px;
  color: #888;
  z-index: 1000;
}
.dropdown1 a {
  text-decoration: none;
  line-height: 2;
  color: #888;
  font-size: 16px;
}
.form-wrap {
  gap: 20px;
}

/* медиа запросы   */

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .wrapp {
    width: 100%;
  }

  .wrapp {
    flex-direction: column;
    align-items: center;
  }

  .image-feed {
    width: 450px;
    max-width: 100%;
    object-fit: cover;
  }
  .wrapp__image {
    margin: 20px 0;
  }

  .form-wrap {
    display: flex;

    gap: 20px;
  }
  .dropdown1 a {
    line-height: 1;
    text-transform: uppercase;
  }

  .menu1 {
    text-align: center;
    margin-top: 30px;
    line-height: 2;
  }
  .menu1 li:hover {
    color: cornflowerblue;
  }

  .about-us-text {
    font-size: 12px;
  }

  .about__title {
    font-size: 25px;
  }

  .left-column,
  .right-column {
    font-size: 10px; /* Уменьшаем размер шрифта */
  }

  .menu {
    height: auto; /* Устанавливаем высоту меню по содержимому */
    flex-direction: column; /* Изменяем направление flex-контейнера на колонку */
    text-align: center; /* Выравниваем текст по центру */
    margin-top: 10px; /* Добавляем отступ сверху */
    max-width: 750px;
  }

  .contact-info {
    margin-right: 0;
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
  .contact-info1 {
    margin-right: 0;
    margin-bottom: 10px;
    padding-bottom: 30px;
  }

  .social-media-icons {
    margin-bottom: 10px; /* Добавляем отступ снизу */
  }

  .menu li {
    margin: 0 20px; /* Уменьшаем отступы между пунктами */
    font-size: 14px; /* Уменьшаем размер шрифта */
  }

  .menu li:hover {
    color: cornflowerblue;
  }
  .text {
    font-size: 20px;
    line-height: 3;
  }
  .wrapp {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .link-feed {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: inherit;
    gap: 20px;
    margin-bottom: 10px;
    padding-right: 100px;
  }

  footer {
    background-color: #333232;
    color: #ccc;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .contact-info {
    margin-top: 20px;
  }

  .about-us-text {
    font-size: 14px;
  }

  .about__title {
    font-size: 25px;
  }

  .image-us {
    width: 300px;
    height: 300px;
  }

  .container-text {
    width: 400px;
  }

  .button {
    margin-right: 55px;
  }

  .left-column,
  .right-column {
    font-size: 10px; /* Уменьшаем размер шрифта */
  }

  .menu ul {
    list-style-type: none;
    display: none; /* Добавляем flex для пунктов меню */
    justify-content: center; /* Выравниваем пункты по центру */
    padding: 0;
    margin: 0;
  }

  .menu li:hover {
    color: cornflowerblue;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .fixed-buttons {
    width: 100px;
    height: 170px;
    font-size: 13px;
  }

  .title__feedbek {
    margin-left: auto;
    margin-right: auto;
  }

  .wrapp {
    flex-direction: column;
    align-items: center;
  }

  .form-feed {
    margin-left: 100px;
  }

  .about-us-text {
    font-size: 12px;
  }
  .about__title {
    font-size: 25px;
  }

  header {
    flex-direction: row; /* Изменяем направление flex-контейнера на колонку */
  }

  .logo img {
    height: 100%; /* Заполнение высоты экрана */
    width: 100%;
    object-fit: cover; /* Заполнение контейнера */
  }
  .contact-info1 {
    z-index: 3; /* Надпись поверх картинки */
  }

  .left-column,
  .right-column {
    font-size: 10px; /* Уменьшаем размер шрифта */
  }

  .menu {
    height: auto; /* Устанавливаем высоту меню по содержимому */
    flex-direction: column; /* Изменяем направление flex-контейнера на колонку */
    text-align: center; /* Выравниваем текст по центру */
    margin-top: 10px; /* Добавляем отступ сверху */
    max-width: 750px;
  }

  .social-media-icons {
    margin-bottom: 10px; /* Добавляем отступ снизу */
  }

  .menu li {
    margin: 0 20px; /* Уменьшаем отступы между пунктами */
    font-size: 19px; /* Уменьшаем размер шрифта */
  }

  .menu li:hover {
    color: cornflowerblue;
  }

  .form-feed2 {
    margin-left: 60px;
  }
  .about-us-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .about-us-text {
    font-size: 14px;
  }
  .about__title {
    font-size: 25px;
  }
  .image-us {
    width: 300px;
    height: 300px;
  }
  .container-text {
    width: 400px;
  }

  .link-phone-footer {
    text-decoration: none;
    color: #fff;
  }
}
